.smith {

  &__anvil {
    max-width: 500px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
  }

  &__show-room {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
  }
}