.ux-field {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 1px solid white;

  &_focused {
    border: 2px solid white;
  }

  &__left-content,
  &__right-content {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    cursor: pointer;
    user-select: none;

    &_disabled {
      cursor: not-allowed;
    }
  }

  input {
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
}