.ux-counter {
  position: relative;

  &_display_row {
    display: flex;
    justify-content: space-between;
  }

  .ux-field {
    width: 80px;
    border-bottom: none;
    margin-bottom: 0;
  }

  &__arrow {
    font-size: 20px;

    &_disabled {
      opacity: 0.5;
    }
  }
}